{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div class="text-center mb-4">
        <h1 class="fw-bold text-primary">
            NTPC Asset Management Dashboard
        </h1>

        <p class="text-muted">
            Administrative Control Panel
        </p>
    </div>

    <div class="row g-4">

        <div class="col-md-4">
            <div class="card shadow border-0 h-100">
                <div class="card-body text-center">
                    <h1>📦</h1>
                    <h5>Total Assets</h5>
                    <h2 class="fw-bold text-primary">
                        {{ total_assets }}
                    </h2>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow border-0 h-100">
                <div class="card-body text-center">
                    <h1>🏢</h1>
                    <h5>Departments</h5>
                    <h2 class="fw-bold text-success">
                        {{ total_departments }}
                    </h2>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow border-0 h-100">
                <div class="card-body text-center">
                    <h1>🏭</h1>
                    <h5>Buildings</h5>
                    <h2 class="fw-bold text-info">
                        {{ total_buildings }}
                    </h2>
                </div>
            </div>
        </div>

    </div>

    <div class="row g-4 mt-1">

        <div class="col-md-4">
            <div class="card shadow border-0 h-100">
                <div class="card-body text-center">
                    <h1>🛠️</h1>
                    <h5>Total Complaints</h5>
                    <h2 class="fw-bold text-warning">
                        {{ total_complaints }}
                    </h2>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow border-0 h-100">
                <div class="card-body text-center">
                    <h1>⏳</h1>
                    <h5>Pending</h5>
                    <h2 class="fw-bold text-danger">
                        {{ pending_complaints }}
                    </h2>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow border-0 h-100">
                <div class="card-body text-center">
                    <h1>✅</h1>
                    <h5>Resolved</h5>
                    <h2 class="fw-bold text-success">
                        {{ resolved_complaints }}
                    </h2>
                </div>
            </div>
        </div>

    </div>

    <hr class="my-5">

    

</div>

{% endblock %}